<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournoi Pokémon</title>
    <!-- Lien vers PicoCSS via CDN -->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.5.7/css/pico.min.css">
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <header>
        <h1>Bienvenue au Tournoi Pokémon</h1>
    </header>

    <main>
        <p>Cliquez sur le bouton ci-dessous pour démarrer le tournoi.</p>
        <div class="pagination">
            <a href="/tournament">
                <button>Démarrer le Tournoi</button>
            </a>
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>
